<%- include("header") -%>
<h2>This is the about page</h2>
<p>fl;asjdf fsalhdfsladjf flashdflasdf kfsajdfl kdsf asldkf saadf sslkd fsdlkf
fsla;fjsal;dfj lfj slfa sadlf slfd;s fsld; fl;asjd f</p>

<%- include("footer") -%>
